<% title "-All Payments" %>
<div class="container">
  <div>
  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th>Payment</th>
        <th>Project</th>
        <th>Created By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.payment %>$</td>
          <td><%= payment.project.title %></td>
          <td><%= payment.creater.name %></td>
          <td>
            <%if current_user.admin?%>
              <%= link_to '', admin_project_payments_path(payment.project,payment) , class: 'btn btn-primary fa fa-eye' %>
              <%= link_to '', edit_admin_project_payment_path(payment.project,payment) , class: 'btn btn-primary fa fa-pencil' %>
              <%= link_to '', admin_project_payment_path(payment.project,payment) , method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger fa fa-trash-o' , id: 'delete' %></td>
            <%elsif current_user.manager?%>
              <%= link_to '', manager_project_payments_path(payment.project,payment) , class: 'btn btn-primary fa fa-eye' %>
              <%= link_to '', edit_manager_project_payment_path(payment.project,payment) , class: 'btn btn-primary fa fa-pencil' %>
              <%= link_to '', manager_project_payment_path(payment.project,payment) , method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger fa fa-trash-o' , id: 'delete' %></td>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%if current_user.admin?%>
    <%= link_to fa_icon('plus-square', text: 'Add Payment'), new_admin_project_payment_path , class: 'btn btn-primary' %>
    <%= link_to "Back", :back, class: 'btn btn-success' %>
  <%elsif current_user.manager?%>
     <%= link_to fa_icon('plus-square', text: 'Add Payment'), new_manager_project_payment_path , class: 'btn btn-primary' %>
     <%= link_to "Back", :back, class: 'btn btn-success' %>
  <%end%>
</div>
