<% title '-Payment' %>
<div class='container'>
  <div class='row'>
    <div class='container'>
      <div class='shadow-lg p-3 mb-5 bg-white rounded ml-4'>
          <h1>Payment <%= link_to 'Back', :back, class: 'btn btn-success offset-9' %></h1>
          <div class = 'clearfix mb-3'></div>
          <table class='table table-striped' id='myTable'>
            <thead>
              <tr>
                <th>Payment</th>
                <th>Project</th>
                <th>Created By</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td><%= @payment.payment %>$</td>
                  <td><%= @payment.project.title %></td>
                  <td><%= @payment.creater.name %></td>
                </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='container'>
      <div class='shadow-lg p-3 mb-5 bg-white rounded ml-4'>
        <h1>Comments</h1>
        <div class=' col-md-12'>
            <div id='comment-index'>
              <%= render 'comments/comment', comment: @comment, project: @project %>
            </div>
          <%= render '/comments/form', commentable_id: @payment.id, commentable_type: 'Payment'%>
        </div>
        <div class = 'clearfix mb-3'></div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class='modal fade' id='comment-modal' tabindex='-1' role='dialog' aria-labelledby='paymentModalLabel' aria-hidden='true'>
  </div>

</div>
