<% title "-Edit Client" %>
<div class="container">
  <%= form_with(model: @timelog, url: {action: 'update'}, class: 'form-vertical' , local: true) do |f| %>
    <%= render 'errors', timelog: @timelog %>
    <div class="field">
      <%= f.label :hours %>
      <%= f.text_field :hours, class: "form-control"%>
    </div>
    <div class="clearfix mb-3"></div>
    <div class="actions">
      <%= f.submit "Update" ,class: "btn btn-primary"%>
      <%= link_to "Back", :back, class: 'btn btn-success' %>
    </div>
  <%end%>
</div>
