<% title "-All Clients" %>
<div class="container">
  <div>
    <%= form_tag admin_clients_path, method: 'get' do %>
      <%= text_field_tag :search, params[:search], class: 'form-control col-11 float-left', placeholder: 'Search By Name OR Email'%>
      <%= submit_tag "Search", class: 'btn btn-primary float-right'%>
    <%end%>
  </div>
  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.phone %></td>
          <td><%= client.email %></td>
          <td>
            <%= link_to '', admin_client_path(client) , class: 'btn btn-primary fa fa-eye' %>
            <%= link_to '', edit_admin_client_path(client) , class: 'btn btn-primary fa fa-pencil' %>
            <%= link_to '', admin_client_url(client) , method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger fa fa-trash-o' , id: 'delete' %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to fa_icon('plus-square', text: 'Add Client'), new_admin_client_path , class: 'btn btn-primary' %>
  <div class = "clearfix mb-3"></div>
  <%= paginate @clients %>
</div>
