<% title "-All Projects" %>
<div class="container">
  <div class="clearfix mb-3"></div>
  <div>
  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th><strong>Title</strong></th>
        <th><strong>Description</strong></th>
        <th><strong>hours_spent</strong></th>
        <th><strong>Amount</strong></th>
        <th><strong>Client</strong></th>
        <th><strong>Manager</strong></th>
        <th><strong>Created By</strong></th>
        <th><strong>Actions</strong></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td><%= project.hours_spent %></td>
          <td><%= project.amount %></td>
          <td><%= project.client.name %></td>
          <td><%= project.manager.name %></td>
          <td><%= project.creater.name %></td>
          <td>
            <%= link_to '', employee_project_path(project) , class: 'btn btn-primary fa fa-eye' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
