<% title '-All Projects' %>
<div class='container'>
  <div>
    <%= form_tag project, method: 'get' do %>
      <%= text_field_tag :search, params[:search], class: 'form-control col-11 float-left', placeholder: 'Search By Title'%>
      <%= submit_tag 'Search', class: 'btn btn-primary float-right'%>
    <%end%>
  </div>
  <div class='clearfix mb-3'></div>
  <div>
  <h1>TOP 5 Projects</h1>
  <div class='clearfix mb-3'></div>
  <table class='table table-striped' id='myTable'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>hours_spent</th>
        <th>Amount</th>
        <th>Client</th>
        <th>Manager</th>
        <th>Created By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.reverse.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td><%= project.hours_spent %></td>
          <td><%= project.amount %></td>
          <td><%= project.client.name %></td>
          <td><%= project.manager.name %></td>
          <td><%= project.creater.name %></td>
          <%if current_user.admin?%>
            <td>
                <%= link_to '', admin_project_path(project) , class: 'btn btn-primary fa fa-eye' %>
                <%= link_to '', edit_admin_project_path(project) , class: 'btn btn-primary fa fa-pencil' %>
                <%= link_to '', admin_project_path(project) , method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger fa fa-trash-o' , id: 'delete' %>
                  <%= link_to '', admin_assigned_employees_path(project) , class: 'btn btn-primary fa fa-group' %>
            </td>
          <%elsif current_user.manager?%>
            <td><%= link_to '', manager_project_path(project) , class: 'btn btn-primary fa fa-eye' %>
                <%= link_to '', edit_manager_project_path(project) , class: 'btn btn-primary fa fa-pencil' %>
                <%= link_to '', manager_project_path(project) , method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger fa fa-trash-o' , id: 'delete' %>
                  <%= link_to '', manager_assigned_employees_path(project) , class: 'btn btn-primary fa fa-group' %>
            </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class='clearfix mb-3'></div>
  <h1>BOTTOM 5 Projects</h1>
  <div class='clearfix mb-3'></div>
  <div>
  <table class='table table-striped' id='myTable'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>hours_spent</th>
        <th>Amount</th>
        <th>Client</th>
        <th>Manager</th>
        <th>Created By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td><%= project.hours_spent %></td>
          <td><%= project.amount %></td>
          <td><%= project.client.name %></td>
          <td><%= project.manager.name %></td>
          <td><%= project.creater.name %></td>
          <%if current_user.admin?%>
            <td>
                <%= link_to '', admin_project_path(project) , class: 'btn btn-primary fa fa-eye' %>
                <%= link_to '', edit_admin_project_path(project) , class: 'btn btn-primary fa fa-pencil' %>
                <%= link_to '', admin_project_path(project) , method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger fa fa-trash-o' , id: 'delete' %>
                  <%= link_to '', admin_assigned_employees_path(project) , class: 'btn btn-primary fa fa-group' %>
            </td>
          <%elsif current_user.manager?%>
            <td><%= link_to '', manager_project_path(project) , class: 'btn btn-primary fa fa-eye' %>
                <%= link_to '', edit_manager_project_path(project) , class: 'btn btn-primary fa fa-pencil' %>
                <%= link_to '', manager_project_path(project) , method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger fa fa-trash-o' , id: 'delete' %>
                  <%= link_to '', manager_assigned_employees_path(project) , class: 'btn btn-primary fa fa-group' %>
            </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%if current_user.admin?%>
    <%= link_to fa_icon('plus-square', text: 'Add Project'), new_admin_project_path , class: 'btn btn-primary' %>
  <%elsif current_user.manager?%>
     <%= link_to fa_icon('plus-square', text: 'Add Project'), new_manager_project_path , class: 'btn btn-primary' %>
  <%end%>
  <div class = 'clearfix mb-3'></div>
  <%= paginate @projects %>
</div>
