<% title '-Project' %>
<div class='container'>
  <div class='row'>
    <div class='container'>
      <div class='shadow-lg p-3 mb-5 bg-white rounded ml-4'>
        <h1>Project <%= link_to 'Back', :back, class: 'btn btn-success offset-9' %></h1>
        <div id='project-index'>
          <%= render 'show', project: @project %>
        </div>
      </div>
    </div>
  </div>

  <div class='clearfix mb-3'></div>
  <div class='row'>
    <div class='container'>
      <div class='shadow-lg p-3 mb-5 bg-white rounded ml-4'>
        <h1>Payments</h1>
        <div id='payment-index'>
          <%= render 'payments_base/payment', payment: @payment %>
        </div>
        <div class = 'clearfix mb-3'></div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='container'>
      <div class='shadow-lg p-3 mb-5 bg-white rounded ml-4'>
        <h1>Timelogs</h1>
        <div id='timelog-index'>
          <%= render 'timelogs_base/timelog', timelog: @timelog %>
        </div>
        <div class = 'clearfix mb-3'></div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='container'>
      <div class='shadow-lg p-3 mb-5 bg-white rounded ml-4'>
        <h1>Attachments</h1>
          <%= render partial: 'attachments/show', locals: { attachment: @project }, project: @project %>
          <%= render partial: 'attachments/new', locals: { attachment: @project } %>
      </div>
    </div>
  </div>

<div class='clearfix mb-3'></div>
<div class='clearfix mb-3'></div>
<div class='clearfix mb-3'></div>


  <div class='row'>
    <div class='container'>
      <div class='shadow-lg p-3 mb-5 bg-white rounded ml-4'>
        <h1>Comments</h1>
        <div class=' col-md-12'>
            <div id='comment-index'>
              <%= render 'comments/comment', comment: @comment, project: @project %>
            </div>
          <%= render '/comments/form', commentable_id: @project.id, commentable_type: 'Project'%>
        </div>
        <div class = 'clearfix mb-3'></div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class='modal fade' id='comment-modal' tabindex='-1' role='dialog' aria-labelledby='paymentModalLabel' aria-hidden='true'>
  </div>

</div>
