<% title '-All Projects' %>
<div class='container'>
  <div class='clearfix mb-3'></div>
  <h1>Top Projects</h1>
  <div class='clearfix mb-3'></div>
  <table class='table table-striped' id='myTable'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>hours_spent</th>
        <th>Amount</th>
        <th>Client</th>
        <th>Manager</th>
        <th>Created By</th>
      </tr>
    </thead>
    <tbody>
      <% @top_projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td><%= project.hours_spent %></td>
          <td><%= project.amount %></td>
          <td><%= project.client.name %></td>
          <td><%= project.manager.name %></td>
          <td><%= project.creater.name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class='clearfix mb-3'></div>

  <h1>Bottom Projects</h1>
  <div class='clearfix mb-3'></div>
  <div>
  <table class='table table-striped' id='myTable'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>hours_spent</th>
        <th>Amount</th>
        <th>Client</th>
        <th>Manager</th>
        <th>Created By</th>
      </tr>
    </thead>
    <tbody>
      <% @bottom_projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td><%= project.hours_spent %></td>
          <td><%= project.amount %></td>
          <td><%= project.client.name %></td>
          <td><%= project.manager.name %></td>
          <td><%= project.creater.name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <h1>Chart for Earnings</h1>
  <div class='clearfix mb-3'></div>
  <%= line_chart earnings_per_month, prefix: '$' ,xtitle: 'Projects', ytitle: 'Amounts' %>
  <h1>Chart for Hours_Spent</h1>
  <div class='clearfix mb-3'></div>
  <%= line_chart hours_spent_per_month, xtitle: 'Projects', ytitle: 'Hours' %>
</div>
