<% title "-Edit Profile" %>
<div class="container">
  <%= form_with(model: @user, url: {action: 'profile_update'}, class: 'form-vertical' , local: true) do |f| %>
    <%= render 'errors', user: @user %>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %>
    <% end %>
  </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name ,class: "form-control"%>
    </div>
    <div class="clearfix mb-3"></div>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control"%>
    </div>
    <div class="clearfix mb-3"></div>
    <div class="actions">
      <%= f.submit "Update" ,class: "btn btn-primary"%>
      <%= link_to 'Change Password', edit_user_registration_path , class: 'btn btn-primary  btn-success float-right' %>
      <%= link_to "Back", :back, class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
