<ul class='media-list scrollClass'>
  <% attachment.attachments.each do |attachment| %>
    <li class='media mt-4'>
      <div class='media-body mt-2'>
        <% if attachment.attachment.content_type =~ /image/ %>
          <%= image_tag(attachment.attachment_url(), size: '40x40', alt: 'Edit Entry', class: 'float-left ml-3 rounded-circle mr-2') %>
        <% else %>
          <%= image_tag('file', size: '40x40', alt: 'Edit Entry', class: 'float-left ml-3 rounded-circle mr-2') %>
        <% end %>
        <span class='text-muted pull-right'>
         <%= link_to 'Delete', attachment_path(attachment.id), data: { confirm: 'Are you sure?' }, method: :delete, class: 'text-danger mr-4' %>
        </span>
          <%= attachment.attachment.file.filename %>
          <div><%=  link_to 'Download', attachment.attachment.url%></div>
      </div>
    </li>
  <% end %>
</ul>
