<%= form_for [attachment, Attachment.new] do |form| %>
  <% if attachment.errors.any? %>
    <div id='error_explanation' style='background-color: red'>
      <h2><%= pluralize(attachment.errors.count, 'error') %> prohibited this attachment from being saved:</h2>
      <ul>
      <% attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='form-group' >
    <%= form.file_field :attachment, required: true, class: 'form-control' %>
    <%= form.hidden_field :project_id, :value => @project.id %>
  </div>
  <div class='actions'>
    <%= form.submit 'Upload', class:'btn btn-primary' %>
  </div>
<% end %>
