<% title "-All Comments" %>
<div class="container">
  <div>
  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th>Comments</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.message %></td>
          <td>
            <%if current_user.admin?%>
              <%= link_to '', admin_comment_path(comment) , class: 'btn btn-primary fa fa-eye' %>
              <%= link_to '', edit_admin_comment_path(comment) , class: 'btn btn-primary fa fa-pencil' %>
              <%= link_to '', admin_comment_path(comment) , method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger fa fa-trash-o' , id: 'delete' %></td>
            <%elsif current_user.employee?%>
              <%= link_to '', employee_comment_path(comment) , class: 'btn btn-primary fa fa-eye' %>
              <%= link_to '', edit_employee_comment_path(comment) , class: 'btn btn-primary fa fa-pencil' %>
              <%= link_to '', employee_comment_path(comment) , method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger fa fa-trash-o' , id: 'delete' %></td>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%if current_user.admin?%>
    <%= link_to fa_icon('plus-square', text: 'Add comment'), new_admin_comment_path , class: 'btn btn-primary' %>
  <%elsif current_user.employee?%>
     <%= link_to fa_icon('plus-square', text: 'Add comment'), new_employee_comment_path , class: 'btn btn-primary' %>
  <%end%>
</div>
