<% title "-All Users" %>
<div class="container">
  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th><strong>Name</strong></th>
        <th><strong>Status</strong></th>
        <th><strong>Type</strong></th>
        <th><strong>Email</strong></th>
        <th><strong>Option</strong></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.status %></td>
          <td><%= user.type %></td>
          <td><%= user.email %></td>
          <div class="btn_group">
          <td>
          <%= link_to 'Edit', edit_admin_user_path(user) , class: 'btn btn-primary fa fa-pencil' %>
          <%= link_to 'Delete', admin_destroy_user_path(user) , method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger fa fa-trash-o' , id: 'delete' %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Create new User', new_admin_user_path , class: 'btn btn-primary fa fa-plus-square' %>
  <%= paginate @users %>
</div>
