<!DOCTYPE html>
<html>
  <head>
    <title>PMS <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">PMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="
        navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto">
          </ul>
          <%if !user_signed_in? %>
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to 'Login', new_user_session_path ,class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
              </li>
            </ul>
          <% else %>
            <ul class="navbar-nav">
              <li class="nav-item"><%= link_to("Logout",destroy_user_session_path,  :method => :delete ,class: 'nav-link' )%>
              </li>
              <li class="nav-item">
                <%= link_to 'Edit Profile', edit_profile_path(current_user) ,class: 'nav-link' %>
              </li>
              </ul>
          <% end %>
      </nav>
    </div>
    <%= yield %>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </body>
</html>
